version: "3.8"

services:
  app:
    build: ./app
    restart: unless-stopped
    # ports:
    #   - 3:$APP_DOCKER_PORT
    volumes:
      - app-build:/app/build
  app-2:
    build: ./app-2
    restart: unless-stopped
    # ports:
    #   - 3:$APP_DOCKER_PORT
    volumes:
      - app-2-build:/app/build
  nginx:
    depends_on:
      - app
      - app-2
    build: ./nginx
    restart: always
    ports:
      - 80:80
    volumes:
      # - ./test:/usr/share/nginx/html
      - app-build:/usr/share/nginx/html
      # - app-build:/usr/share/nginx/html/app
      # - app-build:/usr/share/nginx/html/app
      # - app-build:/usr/share/app-1/build
      # - app-2-build:/usr/share/app-2/html
      - app-2-build:/usr/share/app-2/build

volumes:
  app-build:
  app-2-build: